/* Reset di default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  /* debug */
  background-color: aqua;
}

/* Creazione container principale */
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  /* debug */
  border: 1px solid black;
}

/* Header */
.header {
  height: 70%;
  text-align: center;
  /* debug */
  background-color: beige;
}

.row {
  display: flex;
  align-items: center;
  height: 100%;
  /* debug */
  border: 1px solid black;
}
.col-1 {
  width: 25%;
  text-align: left;
}
.col-2 {
  width: 50%;
}
.col-3 {
  width: 25%;
  text-align: right;
}
[class^="col"] {
  /* debug */
  border: 1px solid black;
}
/* Stili classi principali sezioni*/

main > .container {
  margin-top: 15px;
  margin-bottom: 15px;
}

section {
  padding-top: 25px;
  padding-bottom: 25px;
}

main > section > .container,
section > .container > .row > [class^="col-"] {
  min-height: 270px;
}

/* Banner section */
.banner-section {
  /* debug */
  background-color: blue;
}

.banner-section > .banner {
  /* debug */

  width: 60%;
  background-color: blueviolet;
}

/* Section 1 */

.sec-1 > .container > .row {
  display: flex;
  justify-content: space-between;
}
.sec-1 > .container > .row > .col-1 {
  width: 60%;
  /* debug */
  background-color: brown;
}
.sec-1 > .container > .row > .col-2 {
  width: 40%;
  background-color: burlywood;
}

/* Section 2 */
.sec-2 > .container > .row {
  display: flex;
  justify-content: space-between;
}
.sec-2 > .container > .row > .col-1 {
  width: 40%;
  /* debug */
  background-color: burlywood;
}
.sec-2 > .container > .row > .col-2 {
  width: 60%;
  background-color: brown;
}

/* Section 3 */
.sec-3 > .container > .row {
  display: flex;
  justify-content: space-between;
}
.sec-3 > .container > .row > .col-1 {
  width: 60%;
  /* debug */
  background-color: brown;
}
.sec-3 > .container > .row > .col-2 {
  width: 40%;
  background-color: burlywood;
}

/* Section 4 */
.sec-4 > .container > .row {
  display: flex;
  justify-content: space-between;
  background-color: chartreuse;
  min-height: 450px;
}

/* Footer */

footer {
  background-color: black;
  height: 430px;
}

/* Section 5 */
.sec-5 > .container > .row {
  display: flex;
  justify-content: space-between;
}
.sec-5 > .container > .row > .col-1 {
  width: 40%;
  /* debug */
  background-color: rosybrown;
}
.sec-5 > .container > .row > .col-2 {
  width: 15%;
  background-color: aqua;
}
.sec-5 > .container > .row > .col-3 {
  width: 15%;
  background-color: aqua;
}
.sec-5 > .container > .row > .col-4 {
  width: 15%;
  background-color: aqua;
}
.sec-5 > .container > .row > .col-5 {
  width: 15%;
  background-color: aqua;
}
/* Section 6 */
footer > .sec-6 {
  border: 1px solid gray;
  height: 90px;
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 0;
}
.sec-6 > .container {
  min-height: 20px;
  display: flex;
  align-items: flex-end;
  width: 80%;
}

.sec-6 > .container > .row {
  display: flex;
  justify-content: space-between;
  background-color: rgb(142, 146, 122);
  min-height: 50px;
  width: 100%;
}
.sec-6 > .container > .row > span {
  padding: 5px;
  background-color: rgb(173, 201, 18);
}
.sec-6 > .container > .row > button {
  padding: 5px;
  background-color: rgb(173, 201, 18);
}
